<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%=titulo%>
    </title>
</head>

<body>
    <form action="./add" method="post">
        <fieldset>
            <legend>
                <%=titulo%>
            </legend>
            <label for="description">Description</label>
            <input type="text" name="description" id="description">
            <label for="price">Price</label>
            <input type="number" name="price" id="price">
            <label for="category">Category</label>
            <select id="category" name="category">
                <option value="Deporte" selected>Deporte</option>
                <option value="Casual" >Casual</option>
                <option value="Familiar" >Familiar</option>
                <option value="Dormitorio" >Dormitorio</option>
            </select>
            <label for="qty">Quantity</label>
            <input type="number" name="qty" id="qty">
            <input type="submit" value="Save!">
        </fieldset>
    </form>
</body>

</html>